/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

@media (prefers-color-scheme: dark) {
  :root {
    --card-text-font-weight: 465;
    --card-header-font-weight: 785;

    --background-line-color: #000;
    --background-color: #000;
    --main-color: #00cc14;
    --button-color: #00cc14;

    --background-image: repeating-linear-gradient(
        transparent 0 2px,
        var(--background-line-color) 2px 4px
      ),
      repeating-linear-gradient(
        90deg,
        transparent 0 2px,
        var(--background-line-color) 2px 4px
      ),
      linear-gradient(#007f0c, #004306);
  }
}

:root.theme-dark {
  --card-text-font-weight: 465;
  --card-header-font-weight: 785;

  --background-line-color: #000;
  --background-color: #000;
  --main-color: #00cc14;
  --button-color: #00cc14;

  --background-image: repeating-linear-gradient(
      transparent 0 2px,
      var(--background-line-color) 2px 4px
    ),
    repeating-linear-gradient(
      90deg,
      transparent 0 2px,
      var(--background-line-color) 2px 4px
    ),
    linear-gradient(#007f0c, #004306);
}

:root.theme-light {
  --card-text-font-weight: 400;
  --card-header-font-weight: 700;

  --background-color: #fff;
  --background-line-color: #ddd;
  --main-color: #000;
  --button-color: #fff;

  --background-image: repeating-linear-gradient(
      transparent 0 2px,
      var(--background-line-color) 2px 4px
    ),
    repeating-linear-gradient(
      90deg,
      transparent 0 2px,
      var(--background-line-color) 2px 4px
    ),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}
