/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --basic-font-family: Inter-Variable, sans-serif;
  --accent-font-family: PressStart2P, fantasy;

  --card-text-font-weight: 400;
  --card-header-font-weight: 700;

  --background-color: #fff;
  --background-line-color: #ddd;
  --main-color: #000;
  --button-color: #fff;

  --heart-color: #f00;

  --background-image: repeating-linear-gradient(
      transparent 0 2px,
      var(--background-line-color) 2px 4px
    ),
    repeating-linear-gradient(
      90deg,
      transparent 0 2px,
      var(--background-line-color) 2px 4px
    ),
    linear-gradient(#e7e7e7, #1a1a1a);
}
